<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QL_NHAHANGConnectionString"
            connectionString="Data Source=103.183.121.70;Initial Catalog=QuanLyNhaHang;User ID=admin_nhahang;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>